@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  /* background: var(--background); */
  /* background-image: linear-gradient(90deg,#07233b 1.67%,#041d34 39.95%,#04192d 58.24%,#040e18 80.28%,#050c16 101.48%) !important; */
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  min-height: 100%;
  min-width: 100vw;
  width: 100% !important;
  height: auto;
  display: grid;
  overflow-x: hidden !important;
}
/* 
.to-\[\#050c16\] {
  --tw-gradient-to: #050c16 var(--tw-gradient-to-position);
}

.from-40\% {
  --tw-gradient-from-position: 40%;
}
.from-\[\#041c32\] {
  --tw-gradient-from: #041c32 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(4 28 50 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
.bg-gradient-to-r {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.links-before {
  @apply before:absolute before:content-[''] before:bottom-[-3px] before:left-0
 before:w-0 before:h-[2px] before:bg-white transition duration-[0.2s] ease-linear
}

.links-before:hover::before {
  @apply w-full
}

/* Cursor Start */
[class^="cursor"] {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 9999 !important;
  pointer-events: none;
}

.cursor-inner {
  z-index: 2000 !important;
  width: 12px;
  height: 12px;
  background: rgb(174, 160, 160);
  /* transform: "translate(-50%, -50%)"; */
  transition: all .8s ease-out;
  position: absolute;
}

.content:hover ~ .cursor-inner {
  /* background: rgb(192, 151, 151); */
  background: rgb(174, 160, 160);
  mix-blend-mode: difference !important;
}

@keyframes cursorAnim3 {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(3);
  }
  100% {
      transform: scale(1);
      opacity: 0;
  }
}

.ease {
  transition-timing-function: ease-in !important;
}

.my-ease {
  transition-timing-function: ease !important;
}

.expand {
  animation: cursorAnim3 .5s forwards;
  border: 1px solid rgb(91, 91, 165);
  transition: all .8s ease-out;
}

.sticky {
  background-color: #050c16;
}

.social-icon:hover {
  /* background-color: yellow !important; */
  transition: all .3s ease !important;
  transform: translateY(-5%) !important;
}

.backdrop-boxShadow {
  transition: 0.4s linear;
}

.box-shadow {
  box-shadow: 0 0 50px #3b82f6;
}

.image-container:hover {
  animation: animate 1.5s ease-in-out infinite;
} 

@keyframes animate {
  0% {
    scale: 1;
  }

  50% {
    scale: 1.05;
  }

  100% {
    scale: 1;
  }
}

.blink {
  animation: blink 1.2s steps(1) infinite;
}

@keyframes blink {
  50% {
      opacity: 0;
  }
}

.roll-spin {
  animation: rolling-spin .5s ease infinite;
}

.rotating-object-1 {
  animation: rotateInfinite 40s linear infinite;
  transform-origin: 50% 50% !important;
}

@keyframes rotateInfinite {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1); /* Shrinks */
  }
  100% {
    transform: rotate(360deg) scale(1); /* Returns to normal */
  }
}

.rotating-object-2 {
  animation: rotateInfinite-2 40s linear infinite;
  /* transform-origin: 50% 50%; */
}

@keyframes rotateInfinite-2 {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(0.8); /* Shrinks */
  }
  100% {
    transform: rotate(360deg) scale(0.9); /* Returns to normal */
  }
}

.experience-bg {
background-color: #05294a;
  /* background: linear(90deg, rgb( 7, 136, 255) 1.67%, rgb(4, 29, 52) 39.95%, rgb(4, 25, 45) 58.24%, rgb(4, 14, 24) 80.28%, rgb(5, 12, 22) 101.48%); */
}

.bg-experiences {
  background-color: rgba(7, 136, 255, .1);
}